mixin hero(data={})

	-
		const {
		} = data;

	.hero
		.hero__content
			.hero__org АНО «ЭМЦОСК»
			.hero__func.hero__func--anim1 Оценка квалификаций
			.hero__func.hero__func--anim2 в атомной отрасли
			.hero__discover
				| Узнайте о нас больше
