mixin hero(data={})

	-
		const
		{

		} = data;
	.hero
		.hero__content
			h1 Оценка квалификаций в атомной отрасли
			p Система оценки квалификаций рассматривается как мощный мотивирующий фактор, способствующий профессиональному развитию и карьерному росту работников.
			p Совет по профессиональным квалификациям в сфере атомной энергии уполномочил созданные ранее отраслевые Центры независимой оценки квалификаций проводить соответствующие процедуры. Один из них – головной экспертно-методический центр оценки и сертификации квалификаций специалистов атомной отрасли проводит квалификационные экзамены на своей экзаменационной площадке на базе НИЯУ МИФИ.
			p В соответствии с нормативными требованиями, основными мероприятиями в процессе оценки квалификаций являются профессиональные экзамены, ориентированные на подтверждение заявленных соискателями квалификаций. При этом соответствие квалификационным требованиям на первом этапе проверяется в ходе теоретической части экзамена. Соискатели, успешно прошедшие этот этап, допускаются к прохождению практического экзамена.
			p К настоящему моменту имеются наработки целого ряда комплектов оценочных средств, включающих как тестовые вопросы, так и задания на демонстрацию практических навыков и умений. Причём, все задания разрабатываются исключительно на основе требований профессиональных стандартов.