mixin hero(data={})

	-
		const
		{

		} = data;
	.hero
		.hero__content
			h1 Оценка квалификаций в атомной отрасли
			h5(style='margin-top: 1rem;') Система оценки квалификаций рассматривается как мощный мотивирующий фактор, способствующий профессиональному развитию и карьерному росту работников.
