mixin hero(data={})

	-
		const {
		} = data;

	.hero
		.hero__content
			.hero__org АНО «ЭМЦОСК»
			.hero__func Оценка квалификаций
				br
				| в атомной отрасли
			.hero__discover
				| Узнайте о нас больше
