.hero
	height calc(100% - 10rem)
	display flex
	align-items center
	flex-wrap wrap
	padding-bottom 10rem

	&__content
		overflow hidden
		position relative
		width 60%
		padding 2rem
		
		h1
		h5
			opacity 0
			animation: 0.9s ease 2.1s revealContent forwards

		&::before
			content ''
			position absolute
			display block
			top 0
			left 0
			width 100%
			height 100%
			background $lblue
			z-index 2
			transform scaleX(0)
			animation: 1s ease 1.75s revealToRight forwards
