.preloader
	position fixed
	top calc(50% - 4.5rem)
	transform translateY(-50%)
	left 0
	right 0
	margin auto
	width 4.5rem
	height 4.5rem
	color $lblue
	transform rotate(360deg) scale(1.4)
	transition transform 1.2s ease