mixin header(data={})


	-
		const navbar = [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'О центре',
				href: '#'
			},
			{
				title: 'Экзамен',
				href: '#'
			},
			{
				title: 'Экспертиза',
				href: '#'
			},
			{
				title: 'Контакты',
				href: '#'
			},
		];

	header.header
		a(href='/').header__logo
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" fill="currentColor">
				<circle cx="245.259" cy="245.145" r="30"/>
				<path d="M460.259 156.145a29.854 29.854 0 00-15.48 4.299c-17.505-6.889-42.389-10.398-72.267-10.398-8.71 0-17.85.303-27.346.9 8.133-81.168-3.961-141.716-34.502-149.9a27.608 27.608 0 00-7.171-.932c-28.824.002-64.851 42.635-95.351 108.455-41.83-29.227-79.948-47.249-107.411-50.477-4.642-10.565-15.192-17.947-27.473-17.947-16.569 0-30 13.432-30 30 0 10.909 5.824 20.457 14.532 25.707 1.581 28.223 20.6 69.309 52.562 114.553C38.057 243.144-6.9 282.139.869 311.129c6.169 23.026 44.311 34.893 99.314 34.893 14.85 0 30.932-.867 47.944-2.61-2.561 42.689.995 78.255 10.362 101.373a29.853 29.853 0 00-4.23 15.36c0 16.568 13.431 30 30 30 14.462 0 26.533-10.234 29.368-23.855 21.472-13.338 44.837-44.17 66.1-86.434 47.391 33.521 90.243 52.869 118.56 52.869 10.893 0 19.643-2.865 25.664-8.887 21.865-21.865 2.095-79.597-45.205-145.944 40.414-20.017 70.428-41.8 84.696-61.919 15.071-1.59 26.817-14.337 26.817-29.83 0-16.568-13.432-30-30-30zM179.106 263.453a722.02 722.02 0 019.976-42.232 727.781 727.781 0 016.047-21.273 755.5 755.5 0 0126.305-7.563c15.14-4.057 30.27-7.6 45.172-10.598a783.688 783.688 0 0121.4 20.609 780.096 780.096 0 0124.079 25.174 735.02 735.02 0 01-6.214 24.943 717.756 717.756 0 01-11.369 38.18 745.358 745.358 0 01-43.246 12.99 745.722 745.722 0 01-25.637 6.383 779.557 779.557 0 01-46.513-46.613zm22.673 51.678a663.686 663.686 0 01-31.692 5.389c1.149-10.606 2.65-21.507 4.489-32.621a802.192 802.192 0 0013.792 14.136 800.377 800.377 0 0013.411 13.096zm100.369-126.876a796.244 796.244 0 00-11.137-10.923 609.946 609.946 0 0131.346-4.313 637.474 637.474 0 01-5.196 30.664 800.212 800.212 0 00-15.013-15.428zm23.041 69.435a744.63 744.63 0 003.069-11.844 667.776 667.776 0 0119.835 24.31 603.639 603.639 0 01-29.961 12.161 745.186 745.186 0 007.057-24.627zM250.042 72.456c10.955-17.62 22.207-31.788 32.543-40.972 11.547-10.263 18.47-11.371 20.91-11.371a7.62 7.62 0 011.993.25c4.05 1.085 8.439 6.593 12.041 15.109 5.102 12.064 8.426 29.526 9.613 50.498 1.139 20.117.361 42.631-2.213 66.649-16.622 1.692-34.138 4.226-52.271 7.61-16.154-14.572-32.273-27.861-48.013-39.692 8.021-17.664 16.553-33.857 25.397-48.081zm-33.554 66.969c10.516 8.033 21.094 16.677 31.649 25.822a766.771 766.771 0 00-45.632 11.645c4.384-12.94 9.062-25.476 13.983-37.467zM96.442 149.831c-11.279-21.815-16.515-38.483-18.15-50.115 11.41-1.929 20.625-10.296 23.784-21.237 18.444 3.135 43.92 14.239 71.928 31.535 8.521 5.262 17.175 11.029 25.903 17.216-7.426 17.671-14.424 36.708-20.79 56.802-17.583 5.682-34.325 11.821-50.015 18.28-12.99-18.099-24.022-35.774-32.66-52.481zm53.313 173.282c-17.479 1.915-34.15 2.909-49.572 2.909-25.356 0-46.632-2.679-61.528-7.746-12.303-4.186-17.606-9.109-18.467-12.323-.942-3.515 1.72-9.735 7.121-16.64 7.963-10.182 21.49-21.535 39.119-32.836 16.15-10.352 35.06-20.318 55.998-29.605 10.616 13.984 22.364 28.254 35.135 42.568-3.513 18.611-6.105 36.598-7.806 53.673zm12.893-78.216a665.775 665.775 0 01-21.22-26.047 654.645 654.645 0 0130.706-11.423 759.766 759.766 0 00-2.37 8.618 742.765 742.765 0 00-7.116 28.852zm82.263 156.383c-10.955 17.619-22.208 31.787-32.543 40.971a85.126 85.126 0 01-2.556 2.178c-5.282-8.568-14.749-14.283-25.554-14.283a29.98 29.98 0 00-9.282 1.471c-3.72-11.488-6.179-26.457-7.164-43.852-.818-14.463-.648-30.162.469-46.77 16.556-2.27 33.829-5.315 51.575-9.145 14.628 13.102 29.216 25.15 43.508 36.006-5.944 12.027-12.118 23.234-18.453 33.424zm27.136-51.952a665.837 665.837 0 01-28.252-23.057 766.82 766.82 0 0042.446-11.902c-4.494 12.134-9.243 23.823-14.194 34.959zm122.026-8.871c21.248 41.096 21.051 63.922 15.734 69.238-2.635 2.637-8.35 3.029-11.521 3.029-18.566 0-48.368-11.826-81.764-32.446-9.22-5.693-18.592-11.954-28.05-18.726 7.728-17.005 15.081-35.496 21.848-55.152 17.76-6.222 34.53-12.894 50.065-19.857 13.44 18.6 24.823 36.766 33.688 53.914zm12.191-100.867c-11.811 7.571-25.104 14.936-39.579 21.98-9.993-13.064-20.974-26.368-32.838-39.714 3.749-17.425 6.72-34.399 8.932-50.703 10.314-.732 20.259-1.107 29.733-1.107 24.048 0 44.415 2.414 59.161 6.985a29.97 29.97 0 00-1.414 9.114c0 9.896 4.793 18.669 12.182 24.134-8.163 9.244-20.556 19.298-36.177 29.311z"/>
			</svg>

		.container
			ul.header__navbar.navbar
				each link, index in navbar
					if index == pageIndex
						li.navbar__link.navbar__link--active
							a(href=link.href)=link.title
					else
						li.navbar__link
							a(href=link.href)=link.title