// Colors
$darkgray = #121519
$lightgray = #8B9198
$lightgray_lighter = #E2E2E2
$lblue = #4DCEED
$lblue_darker = #00b9e5

// Media queries
$mobile = 'screen and (max-width: 767px)'
$tablet = 'screen and (min-width: 768px) and (max-width: 1024px)'
$mobile_tablet = 'screen and (max-width: 1024px)'
$tablet-desktop = 'screen and (min-width: 768px)'
$desktop = 'screen and (min-width: 1025px)'

// Grid
$colCount = 12
$colGapDesktop = 4rem
$colGapTablet = 2rem