include _head.pug
include ~src/components/header/header.pug
include ~src/components/preloader/preloader.pug

block vars

doctype html
html(lang="ru")
	head
		block head
			+head()
	body
		.page(class=`page--${pageClass}` style='visibility: hidden')
			block header
				+header()
			block content
			block footer
			.background-canvas
		block preloader
			+preloader()